@import url(../js/lib/normalize.css/normalize.css);
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
@import url(../js/lib/selectize/dist/css/selectize.css);
body {
  -webkit-backface-visibility: hidden; }

.animated, .wf-active .animated-delay {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.infinite, .wf-active .infinite.animated-delay {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  .animated.hinge, .wf-active .hinge.animated-delay {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; }
  .animated.bounceIn,
  .wf-active .bounceIn.animated-delay,
  .animated.bounceOut, .wf-active .bounceOut.animated-delay {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s; }
  .animated.flipOutX,
  .wf-active .flipOutX.animated-delay,
  .animated.flipOutY, .wf-active .flipOutY.animated-delay {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-bottom: 14.6875rem;
  -webkit-font-smoothing: antialiased; }

.wrap {
  padding-top: 5rem;
  background: url(../images/bg.jpg) no-repeat top center;
  background-size: cover; }

.wf-active .animated-delay {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.load-shield {
  pointer-events: none;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

input, select, table, tr, td, div, span, fieldset, p {
  box-sizing: border-box; }

a, button, input, select, textarea {
  outline: 0; }

header {
  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  position: relative;
  min-height: 11.25rem; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .logo {
    float: left;
    background: url(../images/logo.png) no-repeat;
    width: 92px;
    height: 65px; }
  header button {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    right: 0.9375rem;
    line-height: 0;
    padding: 0.375rem;
    margin-top: -0.9375rem;
    width: 1.625rem;
    border: none;
    background: #57ab4a;
    transition: background-color 500ms; }
    header button.on {
      background-color: #999; }
    header button .bar {
      height: 0.125rem;
      width: 100%;
      background: white;
      margin: 0.1875rem 0 0 0;
      display: block; }
      header button .bar:first-child {
        margin-top: 0; }
  header nav {
    float: right;
    position: relative; }
    header nav ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      header nav ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left; }
        header nav ul li a {
          font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
          font-weight: 600;
          font-size: 1.125em;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          color: white;
          padding: 0.375rem 0;
          margin: 0 1.25rem; }
    header nav .active-bar {
      height: 0.1875rem;
      background: #70df88;
      position: absolute;
      bottom: 0;
      left: 1.25rem;
      width: 3.3125rem; }

.hero {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: white;
  padding-top: 6.25rem;
  padding-bottom: 9.375rem; }
  .hero h3 {
    font-size: 2.1875em;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 0.625rem; }
  .hero h1 {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 4.6875em;
    letter-spacing: -1px;
    margin-bottom: 5rem;
    line-height: 1em; }
  .hero button {
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.15em;
    text-transform: uppercase;
    line-height: 1em;
    border-radius: 4px;
    border: 2px solid white;
    padding: 16px 38px;
    background: white;
    color: #57ab4a; }
    .hero button:hover {
      background: #cfe6d4; }

.snipes {
  max-width: 71.25em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 6.25rem 0 3.125rem 0; }
  .snipes::after {
    clear: both;
    content: "";
    display: table; }
  .snipes h1 {
    font-size: 3em;
    color: #4b4845;
    padding: 0;
    margin: 0;
    list-style: none; }
  .snipes h3 {
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.5625em;
    color: #afafaf;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 5.625rem; }
  .snipes article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .snipes article:last-child {
      margin-right: 0; }
    .snipes article img {
      display: block;
      margin: 0 auto 1.875rem auto;
      max-width: 100%; }
    .snipes article h4 {
      color: #4b4845;
      font-size: 1.5em;
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 0.875rem; }
    .snipes article p {
      padding: 0 0.625rem;
      margin: 0 0 1.25rem 0;
      font-size: 1.125em;
      line-height: 1.3em;
      color: #64615f;
      min-height: 6.25rem; }
    .snipes article button {
      font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 1.15em;
      text-transform: uppercase;
      line-height: 1em;
      border-radius: 4px;
      border: 2px solid #57ab4a;
      padding: 16px 38px;
      background: white;
      color: #57ab4a;
      border-radius: 6px;
      font-size: 0.9375rem;
      padding: 0.9375rem 2.375rem; }
      .snipes article button:hover {
        background: #cfe6d4; }

footer {
  background: url(../images/footer-bg.jpg) no-repeat bottom right;
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 14.6875rem; }
  footer form {
    max-width: 71.25em;
    margin-left: auto;
    margin-right: auto;
    padding: 3.75rem 0 0 0; }
    footer form::after {
      clear: both;
      content: "";
      display: table; }
    footer form p {
      text-align: center;
      color: white;
      margin: 0 0 1.25rem 0;
      font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 1.125em; }
    footer form fieldset.country {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-left: 17.05961%;
      border: none; }
      footer form fieldset.country:last-child {
        margin-right: 0; }
      footer form fieldset.country select {
        font-size: 0.9375rem;
        height: 3rem;
        line-height: 3rem;
        width: 100%; }
      footer form fieldset.country .selectize-control {
        height: 3rem;
        font-size: 0.9375rem; }
        footer form fieldset.country .selectize-control .selectize-dropdown-content {
          max-height: 80px; }
        footer form fieldset.country .selectize-control .selectize-input {
          border-radius: 6px;
          border: none;
          height: 3rem;
          font-size: 0.9375rem; }
          footer form fieldset.country .selectize-control .selectize-input:after {
            border-top-color: #57ab4a; }
          footer form fieldset.country .selectize-control .selectize-input.dropdown-active:after {
            border-bottom-color: #57ab4a; }
          footer form fieldset.country .selectize-control .selectize-input input {
            font-size: 0.9375rem;
            top: 0.5rem;
            position: relative;
            min-width: 90%; }
            footer form fieldset.country .selectize-control .selectize-input input::-webkit-input-placeholder {
              color: #57ab4a;
              text-transform: uppercase;
              text-align: center;
              min-height: 1.5em;
              font-size: 0.9375rem;
              font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
              font-weight: 600; }
            footer form fieldset.country .selectize-control .selectize-input input::-moz-placeholder {
              color: #57ab4a;
              text-transform: uppercase;
              text-align: center;
              min-height: 1.5em;
              font-size: 0.9375rem;
              font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
              font-weight: 600; }
            footer form fieldset.country .selectize-control .selectize-input input:-moz-placeholder {
              color: #57ab4a;
              text-transform: uppercase;
              text-align: center;
              min-height: 1.5em;
              font-size: 0.9375rem;
              font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
              font-weight: 600; }
            footer form fieldset.country .selectize-control .selectize-input input:-ms-input-placeholder {
              color: #57ab4a;
              text-transform: uppercase;
              text-align: center;
              min-height: 1.5em;
              font-size: 0.9375rem;
              font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
              font-weight: 600; }
          footer form fieldset.country .selectize-control .selectize-input div.item + input {
            display: none !important; }
          footer form fieldset.country .selectize-control .selectize-input div.item {
            padding-top: 0.5rem;
            color: #57ab4a;
            text-align: center;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
    footer form fieldset.email {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      border: none; }
      footer form fieldset.email:last-child {
        margin-right: 0; }
      footer form fieldset.email .input-group {
        width: 100%;
        display: table; }
        footer form fieldset.email .input-group input {
          display: table-cell;
          padding: 0.5rem 1rem;
          border: none;
          height: 3rem;
          border-radius: 6px 0 0 6px;
          font-size: 1.125em;
          width: 70%;
          vertical-align: top;
          outline: 0; }
        footer form fieldset.email .input-group button {
          display: table-cell;
          height: 3rem;
          background: #57ab4a;
          color: white;
          text-transform: uppercase;
          border: none;
          border-radius: 0 6px 6px 0;
          font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
          font-weight: 600;
          font-size: 0.9375em;
          width: 30%;
          vertical-align: top; }
          footer form fieldset.email .input-group button:after {
            content: 'Subscribe'; }

@media (max-width: 1139px) {
  body {
    font-size: 12px;
    padding-bottom: 8.125rem; }
  header {
    min-height: 6.25rem; }
  .hero {
    padding-top: 3.75rem; }
  .snipes {
    padding-top: 1.875rem; }
    .snipes h3 {
      margin-bottom: 1.875rem; }
  footer {
    height: auto;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem; }
    footer form {
      padding: 0 0.9375rem; }
      footer form fieldset.country {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%;
        margin-left: 0%; }
        footer form fieldset.country:last-child {
          margin-right: 0; }
      footer form fieldset.email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
        margin-left: 0%; }
        footer form fieldset.email:last-child {
          margin-right: 0; } }

@media (max-width: 1023px) {
  body {
    font-size: 12px; }
  header {
    padding-left: 1.875rem;
    padding-right: 1.875rem; }
  .hero {
    height: auto;
    padding-top: 1.875rem;
    padding-bottom: 5.625rem; }
    .hero h3 {
      margin-top: 0rem; }
    .hero h1 {
      margin-bottom: 1.875rem; }
  .snipes {
    padding: 3.75rem 0.9375rem; }
  footer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
    footer form fieldset.country {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 0%; }
      footer form fieldset.country:last-child {
        margin-right: 0; }
    footer form fieldset.email {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%;
      margin-left: 0%; }
      footer form fieldset.email:last-child {
        margin-right: 0; } }

@media (max-width: 767px) {
  body {
    font-size: 14px;
    padding-bottom: 0; }
  .wrap {
    padding-top: 5rem; }
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 5rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    padding-left: 0;
    padding-right: 0;
    transition: background-color 500ms; }
    header.affix {
      background: rgba(0, 0, 0, 0.6); }
    header .logo {
      height: 3.125rem;
      background-size: contain;
      margin-left: 0.9375rem; }
    header button {
      display: block; }
    header .active-bar {
      display: none; }
    header nav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 100%;
      transition: left 500ms, box-shadow 500ms;
      background: white;
      width: 80%;
      padding-top: 5rem; }
      header nav.open {
        left: 20%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
      header nav ul {
        border-top: 1px solid #eee; }
        header nav ul li {
          float: none;
          border-bottom: 1px solid #eee; }
          header nav ul li a {
            padding: 12px 20px 8px 20px;
            margin: 0;
            color: #57ab4a; }
            header nav ul li a:hover {
              background: #eee; }
            header nav ul li a.active {
              background: #57ab4a;
              color: white; }
              header nav ul li a.active:hover {
                background: #57ab4a; }
  .hero {
    font-size: 9px;
    height: auto;
    padding-bottom: 1.875rem; }
    .hero h3 {
      margin-top: 1.25rem; }
    .hero h1 {
      margin-bottom: 0.9375rem; }
    .hero button {
      font-size: 0.875rem; }
  .snipes {
    padding-top: 1.875rem;
    padding-bottom: 0rem; }
    .snipes h1 {
      font-size: 2.5em; }
    .snipes h3 {
      font-size: 1.25em;
      margin-bottom: 1.875rem; }
    .snipes article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      margin-bottom: 3.75rem; }
      .snipes article:last-child {
        margin-right: 0; }
      .snipes article p {
        min-height: 0; }
  footer {
    position: static;
    height: 8.75rem; }
    footer form {
      padding-top: 1.25rem; }
      footer form fieldset.country {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%;
        margin-left: 0%; }
        footer form fieldset.country:last-child {
          margin-right: 0; }
      footer form fieldset.email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
        margin-left: 0%; }
        footer form fieldset.email:last-child {
          margin-right: 0; } }

@media (max-width: 639px) {
  .hero {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .snipes {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
    .snipes article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .snipes article:last-child {
        margin-right: 0; }
  footer {
    height: auto;
    padding-bottom: 1.25rem;
    padding-left: 0;
    padding-right: 0; }
    footer form {
      padding-left: 0;
      padding-right: 0; }
      footer form fieldset.country {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        margin-right: 0; }
        footer form fieldset.country:last-child {
          margin-right: 0; }
      footer form fieldset.email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%; }
        footer form fieldset.email:last-child {
          margin-right: 0; }
        footer form fieldset.email .input-group input {
          width: 80%; }
        footer form fieldset.email .input-group button {
          width: 20%; }
          footer form fieldset.email .input-group button:after {
            content: ' ';
            display: inline-block;
            vertical-align: middle;
            height: 0;
            width: 0;
            border-bottom: 0.625rem solid transparent;
            border-left: 0.9375rem solid white;
            border-top: 0.625rem solid transparent; } }
