.hero {
  height: 740px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  color: white;
  h3 {
    font-size: em(35);
    @include flatten;
    margin-top: rem(238);
  }
  h1 {
    font-size: em(75);
    letter-spacing: -1px;
    @include flatten;
    margin-bottom: rem(247px);
  }
  button {
    @include btn( white, $darkaccent, white);
  }
}
