.hero {
  height: 740px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  color: white;
  h3 {
    font-size: em(35);
    @include flatten;
    margin-top: rem(238);
  }
  h1 {
    font-size: em(75);
    letter-spacing: -1px;
    @include flatten;
    margin-bottom: rem(247px);
  }
  button {
    @include btn( white, $darkaccent, white);
  }
}

.snipes {
  @include outer-container;
  text-align: center;
  padding: rem(100) 0 rem(50) 0;
  h1 {
    font-size: em(48);
    color: #4b4845;
    @include flatten;
  }
  h3 {
    @include font-default;
    font-size: em(25);
    color: #afafaf;
    @include flatten;
    margin-bottom: rem(90);
  }
  article {
    @include span-columns(4);
    img {
      display: block;
      margin-bottom: rem(30);
    }
    h4 {
      color: #4b4845;
      font-size: em(24);
      @include flatten;
      margin-bottom: rem(14);
    }
    p {
      padding: 0 rem(10);
      margin: 0 0 rem(20) 0;
      font-size: em(18);
      line-height: 1.3em;
      color: #64615f;
    }
    button {
      @include btn( white, $darkaccent, $darkaccent );
      border-radius: 6px;
      font-size: rem(15);
      padding: rem(15) rem(38);
    }
  }
}
